.my-content {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6e6b4+0,ed9017+100 */
background: #f6e6b4; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #f6e6b4 0%, #ed9017 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #f6e6b4 0%,#ed9017 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #f6e6b4 0%,#ed9017 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.modal-body {
    background-color: #F1B860;
}